[Unit]
Description=ngrok
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi
ExecStart=/home/pi/ngrok http 5000
Restart=on-abort

[Install]
WantedBy=multi-user.target
